:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 50%);
  --section-padding: 100px;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Start commponant */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  background-color: #333;
  left: 50%;
  bottom: -50%;
  transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  border: 2px solid #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  right: 48%;
  top: 120%;
  transform: translateX(-50%);
  background-color: white;
}

.main-heading p {
  max-width: 100%;
  width: 550px;
  line-height: 1.8;
  margin: 0 auto 100px;
  color: #777;
}

/* End commponant */
.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Strat Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 81px;
}

header .container::after {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}

.container .logo img {
  height: 30px;
}

.navbar {
  display: flex;
}

.container .toggle-menu {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 40%;
  left: 80%;
}

@media (min-width:768px) {
  .container .toggle-menu {
    display: none;
  }
}

.container .navbar ul {
  display: flex;
  margin: 0 50px;
}

@media (max-width:767px) {
  .container .navbar ul {
    display: none;
  }

  .container .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 80%);
  }

  .container .toggle-menu:hover+ul li a {
    padding: 15px;
  }
}

.container .navbar ul li a {
  padding: 30px 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.container .navbar ul li a.active,
.container .navbar ul li a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.container .form {
  width: 50px;
  height: 60px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid white;
}

.container .form i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/* End Header */
/* Strat Landing */
.landing {
  min-height: 100vh;
  background-image: url(../images/Landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  width: 60%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 600px;
}

@media(max-width:767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 27px;
  font-weight: normal;
  margin-bottom: 20px;
}

.landing .text .content p {
  line-height: 1.8;
}

.landing .change {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  transition: 0.2s;
}

@media(max-width:767px) {
  .landing .change {
    display: none;
  }
}

.landing .change:hover {
  color: aqua;
}

.landing .fa-angle-left {
  position: absolute;
  left: 2%;
}

.landing .fa-angle-right {
  position: absolute;
  right: 2%;
}

.landing .circul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  display: flex;
}

.landing .circul li {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: 8px;
}

.landing .circul li.active {
  background-color: var(--main-color);
}

/* End Landing */

.section {
  padding: 100px;
}

/* Strat service */

.Services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.Services .serves-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 40px;
}

.Services .box {
  display: flex;
}

.Services .serves-container .box i {
  padding-right: 60px;
  padding-left: 45px;
  color: var(--main-color);
}

.Services .serves-container .box .text h3 {
  margin-bottom: 30px;
  font-weight: normal;
  letter-spacing: 1px;
}

.Services .serves-container .box .text p {
  margin-bottom: 60px;
  line-height: 1.6;
  color: #666;
}

/* End service */

/* Strat section-design */
.Design {
  padding-top: var(--section-Padding);
  padding-bottom: var(--section-Padding);
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 120px;
}

.Design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.img,
.Design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.img {
  text-align: center;
}

.img img {
  position: relative;
  bottom: -140px;
}

.Design .text {
  color: white;
  padding: 60px;
  background-color: var(--transparent-color);
}

@media(max-width:767px) {
  .Design {
    height: 100%;
    flex-direction: column;
  }

  .Design .text {
    margin-top: 150px;
    width: 100%;
  }
}

.Design .text h3 {
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.Design .text ul li {
  padding: 8px 0;
}

.Design .text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f108';
  font-weight: 900;
  margin-right: 20px;
}

/* End section-design */

/* Start Portofilo */
.portofilo {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.portofilo .shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portofilo .shuffle li {
  padding: 15px;
}

.portofilo .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}

.portofilo .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 9px;
}

.portofilo .imgs-container .box {
  position: relative;
  overflow: hidden;
}

.portofilo .imgs-container .box:hover .caption {
  bottom: 0;
}

.portofilo .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

@media(min-width:768px) {
  .portofilo .imgs-container .box {
    flex-basis: calc(50% - 9px);
  }
}

@media(min-width:990px) {
  .portofilo .imgs-container .box {
    flex-basis: calc(25% - 9px);
  }
}

.portofilo .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portofilo .imgs-container .box .caption {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  bottom: -100%;
  transition: 0.3s;
}

.portofilo .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 8px;
}

.portofilo .imgs-container .box .caption p {
  color: var(--main-color);
}

.portofilo .More {
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  margin: 30px auto;
  padding: 15px 20px;
  text-transform: uppercase;
}

.portofilo .More a {
  color: white;

}

/* End Portofilo */

/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /40%);
}

.video video {
  max-width: 100%;
  /* aspect-ratio: ; */
}

.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  text-align: center;
}

.video .text h2 {
  font-weight: normal;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.video .text p {
  margin-bottom: 20px;
}

.video .text button {
  color: white;
  border: 1px solid var(--main-color);
  background-color: black;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

/* End Video */
/* Start about */

.about {
  padding-top: var(--section-Padding);
  margin-bottom: 60px;
  overflow: hidden;
  text-align: center;
}

.about img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
}

@media (max-width:767px) {
  .about img {
    bottom: -80px;
  }
}

/* End about */

/* Start Stats */
.Stats {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
}

.Stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /40%);
}

.Stats .container {
  position: relative;
  /*  overlay ليش عملته عشان اخلي ال كونتينر بعد طبقة ال   */
  display: flex;
  flex-wrap: wrap;
}

.Stats .container .box {
  color: white;
  ;
  padding: 50px;
  background-color: var(--transparent-color);
}

@media (max-width:767px) {
  .Stats .container .box {
    width: 100%;
    /* كلاهما يعني الحجم flex-basis بقدر احط ال width ممكن احط بدي ال  */
  }
}

@media (min-width:768px) {
  .Stats .container .box {
    width: 50%;
    /* كلاهما يعني الحجم flex-basis بقدر احط ال width ممكن احط بدي ال  */
  }
}

@media (min-width:992px) {
  .Stats .container .box {
    width: calc(25% - 8px);

    /* كلاهما يعني الحجم flex-basis بقدر احط ال width ممكن احط بدي ال  */
  }
}

.Stats .container .box i {
  width: 40px;
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  border-radius: 50%;
}

.Stats .container .box .num {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 20px;
}

.Stats .container .box p {
  font-size: 12px;
}

/* End Stats */

/* Start Skills */
.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width:992px) {
  .our-skills .container>div {
    flex-basis: 45%;
  }
}

.our-skills .container>div>h2 {
  font-weight: normal;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.our-skills .container>div>p {
  color: #777;
  line-height: 1.6;
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.our-skills .container .content {
  display: flex;
  align-items: center;
}

.our-skills .container .content img {
  border-radius: 50%;
  width: 90px;
  height: 80px;
  margin: 0 30px 30px 0;
}

@media (max-width:767px) {
  .our-skills .container .content {
    flex-direction: column;
    text-align: center;
  }

  .our-skills .container .content img {
    display: block;
    margin: 0 auto 30px;
  }
}

.our-skills .container .content .text {
  line-height: 1.8;
  color: #777;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.our-skills .container .content .text p {
  font-weight: normal;
  font-size: initial;
  color: var(--main-color);
  text-align: right;
  margin-bottom: 10px;
}

.our-skills .container .testimonials .circul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-skills .container .testimonials .circul li {
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-left: 8px;
}

.our-skills .container .testimonials .circul li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.our-skills .container .skills dl dt {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 40px;
}

.our-skills .container .skills dl dd {
  background-color: var(--main-color);
  height: 25px;
}

.our-skills .container .skills dl span {
  display: block;
  background-color: #aaa;
  /* height: 100%; */
  position: relative;
}

.our-skills .container .skills dl dd::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -30px;
  right: 0px;
  border-radius: 4px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
}

/* Start Skills */

/* Start Quote */
.quto {
  margin-left: 18px;
  margin-right: 18px;
  padding-bottom: 145px;
  margin-bottom: 80px;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.quto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}

.quto .container {
  position: relative;
  text-align: center;
  ;
}

.quto p {
  padding-top: 80px;
  font-size: 18px;
  margin-bottom: 19px;
  line-height: 1.6;
  font-weight: normal;
}

.quto h6 {
  font-weight: normal;
  color: var(--main-color);
}

/* End Quote */

/* Start Prising */
.prising .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.prising .container .content .plan {
  background-color: #FCFCFC;
}

.prising .content .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.prising .content .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.prising .content .plan .head span {
  font-size: 40px;
}

sup {
  margin-right: 8px;
}

sub {
  top: 0.5em;
  margin-left: 8px;
}

.prising .plan ul {
  margin: 20px 14px;
  border-bottom: 1px solid var(--main-color);
}

.prising .content .plan ul li {
  margin: 9px;
  position: relative;
}

.prising .content .plan ul li:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 15%;
  width: 70%;
  height: 1px;
  display: block;
  background-color: var(--main-color);
}

.prising .content .plan .foot {
  transition: 0.3s;
}

.prising .content .plan .foot a {
  display: block;
  padding: 20px;
  border: 1px solid var(--main-color);
  text-align: center;
  margin: 8px auto;
  width: fit-content;
  background-color: #000000;
  color: white;
}

.prising .content .plan .foot:hover {
  padding-left: 20px;
}

.prising .contact-text {
  text-align: center;
  margin: 30px auto;
  font-weight: bold;
  font-size: 18px;
}

.prising .contact-link {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  margin: 20px auto;
  padding: 16px 20px;
  border: 1px solid black;
  border-radius: 9px;
}

/* End Prising */

/* Start Subscribe */
.subs {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

.subs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /40%);
}

.subs .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:991px) {
  .subs .container {
    flex-direction: column;
  }
}

.subs form {
  width: 500px;
  max-width: 100%;
  display: flex;
  position: relative;
}

.subs form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.subs form input[type="email"] {
  color: white;
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}

.subs form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}

.subs form input[type="email"]:focus,
.subs form input[type="submit"]:focus {
  outline: none;
}

.subs form ::placeholder {
  color: white;
}

.subs p {
  margin-left: 35px;
  line-height: 1.6;
  font-weight: normal;
}

@media(max-width:991px) {
  .subs p {
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
  }
}

/* End Subscribe */

/* Start Contact */

.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

.contact .content form {
  flex-basis: 70%;
}

.contact .content .main-input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact .content .main-input:focus {
  outline: none;
}

.contact .content textarea.main-input {
  height: 150px;
}

.contact .content input[type="submit"] {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 20px 15px;
  text-align: center;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
}

.contact .content .info {
  flex-basis: 25%;
}
.contact .content .info h4{
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}
.contact .content .info .phone{
  display: block;
  color: #666;
  padding-bottom: 5px;
} 
.contact .content .info h4:nth-of-type(2){
  margin-top: 50px;
}
.contact .content .info address{
  color: #666;
  line-height: 1.4;
}
@media (max-width:991px){
  .contact .content{
    flex-direction: column;
  }
  .contact .content .info{
    margin-top: 13px;
  }
}
/* End Contact */

/* Start Footer */
.footer{
  padding-top: calc(var(--section-padding) / 2);
  background-color: #111;
}
.footer .container {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
  color: white;
}
.footer p:not(.copyright){
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid;
  font-size: 22px;
  width: fit-content;
  margin: 0 auto;
}
.footer .social-icons i{
  padding: 15px 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer .copyright {
  margin-top: 40px;
}
.footer .copyright span{
  color: var(--main-color);
  padding: 0 15px;
  font-weight: bold;
  cursor: pointer;
}
/* End Footer */